@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

// html,
// body {
// 	font-family: "Roboto";
// 	font-weight: 400;
// 	overflow-y: auto;
// }

$hour-padding: 3.5rem;

.main {
	padding: 1rem;
}
.calendar {
	padding: 1rem;
}
.calendar-body {
	padding: 0.5rem;
	&__tile {
		background-color: white;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.range{
	background-color: red;
}
.day-container{
    display: grid;
    grid-template-rows: repeat(25, 1fr);
    grid-template-columns: min-content 1fr;
    position: relative;
}
.day{
    display: grid;
    grid-template-columns: $hour-padding 1fr;
    grid-template-rows: auto;
    position: relative;
    
    &__hour{
        display: flex;
        grid-column-start: 1;
        padding: 1rem;
        border-right: 1px solid #dadce0;
        &::after{
            content: '';
            border-bottom: #dadce0 1px solid;
            position: absolute;
            width: 95%;
            margin-top: 10px;
            margin-left: 30px;
            z-index: 3;
            pointer-events: none;
        }
    }
    &__presentation{
        grid-row-start: 1;
        grid-row-end: 25;
        grid-column-start: 2;
    }
}
.underlined{
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.aligned-end{
	display: flex;
	justify-content: flex-end;
}
.board-image-fade {
	background-color: rgba(0,0,0,.3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.board-item {
	border-radius: 5px;

}
.board-image-fade:hover {
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
}
.task{
    left: $hour-padding;
    background-color: rgb(215, 219, 239);
}
.date-range-pickers{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.modal-actions{
  display: flex;
//   grid-template-columns: 1fr auto;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: flex-end;
  column-gap: 1rem;
}